<html>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}style.css" />
{% block head %}Login{% endblock %}

{% block content %}
    <form method="post" action="login/">{% csrf_token %}
        <div >
            <label for='username'> Username </label>
            <input type='text' name='Username' id='username'><br/>
            <label for='password'>Password </label>
            <input type='password' name='Password' id='password'>
        </div>
        <input type="submit" name="login" value="Login" />
    </form>
    <a href="{%  url 'login:register' %}">Register</a>
{% endblock %}
</html>